[submodule "c/cityhash"]
	path = c/cityhash
	url = https://github.com/google/cityhash
[submodule "c/xxHash"]
	path = dep/xxHash
	url = https://github.com/Cyan4973/xxHash/
[submodule "c/PicoSHA2"]
	path = dep/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2
